#about{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 10px;
}
.about-heading{
    font-size: 55px;
    font-weight: 700;
}
.container-about .col-lg-6{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    padding:20px;
}
.green-pink-gradient{
    background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
} 